body{
    margin: 0;
    width: 100%;
  }
  
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  
  
  #nav {
    padding: 30px;
    width: 100%;
    position: absolute;
    text-align: center;
    //background-color: rgba(27, 27, 27, 0.8);
  
  
    a {
      font-weight: bold;
      font-size: 20px;
      padding: 0 1rem;
      color:#fff;
      text-decoration: none;
  
    //   &.router-link-exact-active {
    //     color: #42b983;
    //   }
    }
  }